<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="h        p://www.w3.org/2001/XMLSchema-ins    ance"
	xmlns="h        p://java.sun.com/xml/ns/javaee" 
	xmlns:web="h        p://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLoca    ion="h        p://java.sun.com/xml/ns/javaee 
	h        p://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

  <display-name>Produc     Selec    ion</display-name>
  
  	<!-- Change     o "Produc    ion" when you are ready     o deploy -->
	<con    ex    -param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Developmen    </param-value>
	</con    ex    -param>

	<!-- Welcome page -->
	<welcome-file-lis    >
		<welcome-file>faces/views/produc    Selec    ion/Produc    Selec    ionView.xh    ml</welcome-file>
	</welcome-file-lis    >

	<!-- JSF mapping -->
	<servle    >
		<servle    -name>Faces Servle    </servle    -name>
		<servle    -class>javax.faces.webapp.FacesServle    </servle    -class>
		<load-on-s    ar    up>1</load-on-s    ar    up>
	</servle    >
	
	<servle    -mapping>
		<servle    -name>Faces Servle    </servle    -name>
		<url-pa        ern>/faces/*</url-pa        ern>
	</servle    -mapping>
	<servle    -mapping>
		<servle    -name>Faces Servle    </servle    -name>
		<url-pa        ern>*.xh    ml</url-pa        ern>
	</servle    -mapping>
	<lis    ener>
		<lis    ener-class>com.sun.faces.config.ConfigureLis    ener</lis    ener-class>
	</lis    ener>
	<con    ex    -param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>0</param-value>
	</con    ex    -param>
	<con    ex    -param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Developmen    </param-value>
	</con    ex    -param>
	<con    ex    -param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>    rue</param-value>
	</con    ex    -param>
	
</web-app>
